.coursecard {
    margin-top: 6rem;
    /* width: 16rem;
    height: 18rem; */
    /* This will set the max height,width of a card according to the data inside it*/
    max-width: 120rem;
    max-height: 120rem;
    /* padding: 2rem; */
    /* width: 20rem;
    height: 25rem; */
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* align-items: center; */
    text-align: center;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    box-sizing: border-box;
    /* padding: 0px 20px 2rem 20px; */

}


/* First child of the coursecard class i.e. span -> title */
.coursecard>:nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Second child of the coursecard class i.e. span -> details */
.coursecard>:nth-child(2) {
    color: var(--black);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.9rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* margin-top: -0.5rem; */
}

/* Third child of the coursecard class i.e. span -> review */
.coursecard>:nth-child(3) {
    color: var(--black);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.8rem;
    padding-bottom: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* for responsiveness */
/* @media screen and (max-width: 840px) {
    .coursecard {}
} */